/*
COLORS:
Primary: #003d66
Primary light: #005c99
Primary dark: #001f33

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/

// Custom properties/ CSS variables.
:root {
    --color-primary: #003d66;
    --color-primary-light: #005c99;
    --color-primary-dark: #001f33;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --color-white: #fff;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .9);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
}

// Variables for media queries.
$bp-largest: 75em; // 1200px/16=75em
$bp-large: 68.75em; // 1100px/16
$bp-medium: 56.25em; // 900px/16
$bp-small: 37.50em; // 600px/16
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit; // Property inherited from html
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem= 10px; 10/16 px * 100% = 62.5%
    // MEDIA QUERRY
    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}